@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

:root{
--paragarf : 'Baloo Paaji 2', sans-serif;
--title :  'Days One', sans-serif;
--orange : #E89C5C ;
}

a:hover{
    cursor: pointer;
}

html{
    scroll-behavior:smooth ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-section{
    height: 100vh;
}

/*-----------------HERO SECTION------------*/

#wrapper {
    overflow: hidden;
}

#hero{
    background-image: linear-gradient(180deg, rgba(36, 37, 37, 0.72) 0%, rgba(19, 20, 20, 0.24) 100%), url(img/architecture-2893844_1920\ 1.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    animation: 2s linear zoom ;
}

/*-----------------Web navbar------------*/

#nav-bar{
    position: fixed;
    top: 0;
    background: rgba(8, 8, 8, 0.11);
    box-shadow: 0 5px 60px rgba(0, 0, 0, 0.541);
    -webkit-backdrop-filter: blur(10.9px);
    backdrop-filter: blur(10.9px);
    z-index: 2;
}


#logo{
    width: 150px;
}

a{
    position: relative;
    color: white;
    text-decoration: none;
    font-family: 'Staatliches' , cursive ;
    letter-spacing: .2em;
    font-size: 1.2rem;
    overflow: hidden;
}



/*-----------------mobile navbar------------*/

#close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}

#mobile-menu{
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    background: #3B3C36;
    box-shadow: 0 5px 60px rgba(0, 0, 0, 0.541);
    z-index: 2;
} 


/*hover animation for mobile and web navbar*/

#links a:hover , #mobile-menu a:hover{
    color: var(--orange);
    animation: poop 0.2s linear forwards;
    
}

#mobile-links a{
    position: relative;
    overflow: hidden;
}

/*hover animation for navbar " underline " */

#mobile-links a:hover::after , #links a:hover::after{
    transform: translateX(0);
}

/* undderline creation */

#mobile-links a::after , #links a::after {
    position: relative;
    content: " ";
    display: block;
    width: 100%;
    background-color: var(--orange);
    height: 2px;
    transform: translateX(100px);
    transition: transform 0.5s ease;
}

.svg_hero:hover path{
    stroke: var(--orange);
}

/*---------------TEXT ON MAIN PAGE------------ */

#slogan{
    position: absolute;
    top: 40%;
    overflow: hidden;
}

#title_1{
    font-family: var(--title) ;
    color: white;
    position: relative;
    animation: slide-right 1s ease-in forwards;
}


#main-paragraph{
    font-family: var(--paragarf);
    color: white;
    font-weight:400;
    position: relative;
    left: -400%;
    animation: slide-left 1s 0.5s ease-in forwards;
}

#contact-btn{
    border: none;
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    background-color: #3B3C36;
    box-shadow: 13px 12px 16px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.25));
    color: white;
    font-family: var(--title);
    letter-spacing: 2px;
    font-size: 1.2rem;
    scale: 0;
    animation: slide-bottom 1s 1.5s ease forwards;
}

#contact-btn:hover{
    color: #E89C5C;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

#contact-btn:active{
    background-color: #53917E;
}

/*---------------ABOUT SECTION------------ */

.par_about , p{
    font-family: var(--paragarf);
    letter-spacing: 1px;
    
}

.par_about{
    min-height: 200px;
}

/*---------------ABOUT SVG SECTION------------ */

#about_svg_section{
    margin: 50px 0px;
}

.about_animation_1 , .about_animation_2 ,.about_animation_3 , .about_animation_4{
    position: relative;
}

#main_container{
    height: 50vh;
    overflow: hidden;
}

#about_photo_section{
    background-image: linear-gradient(180deg, rgba(104, 104, 104, 0.582) 0%, rgba(19, 20, 20, 0.473) 100%) , url(img/teamwork-3213924_1920\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 50vh;

 
    
}

#about_text_box{
    background: #53917e8a;
    box-shadow: 30px 30px 0px -4px rgb(0, 0, 0);
    box-shadow: 0px -47px 39px 0px rgba(0, 0, 0, 0.25) inset;
    -webkit-backdrop-filter: blur(16.9px);
    backdrop-filter: blur(16.5px);
}

 #about_text_box{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}



#about_p_box{
    font-family: var(--paragarf);
    color: rgba(255, 255, 255, 0.719);
    font-size: 1.5rem;
}

/*---------------ABOUT_2_SECTION------------ */




#about_2{
    height: 100%;
    overflow: hidden;
}

#about_2_box{
    margin: 50px 0;
    position: relative;
}

#about_2_box h1{
    color:#53917E;
}

#about_2_bg{
    margin-top: 50px;
    position: relative;
    height: 90vh;
    background-image: linear-gradient(180deg, rgba(104, 104, 104, 0.336) 0%, rgba(19, 20, 20, 0.473) 100%) , url(img/notebook-1971495_1920\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*---------------CEO TEAM SECTION------------ */

#ceo_team{
    height: 100%;
    overflow: hidden;
    margin: 50px 0;
}

#ceo_team_bg{
    position: relative;
    height: 90vh;
    background-image: linear-gradient(180deg, rgba(104, 104, 104, 0.336) 0%, rgba(19, 20, 20, 0.473) 100%) , url(img/CEO-magic-touch\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    
}

#ceo_team_box{
    position: relative;
    margin-bottom: 50px;
}

#ceo_team_box h1{
    color:#53917E;
}

h1{
    font-family: var(--paragarf);
}

#ceo_name{
    background-color: white;
    padding: 0 1.5em;
    border-left: 0.5em #53917E solid;
    margin-top: 8em;
    position: relative;
}

/*--------------- TEAM SECTION------------ */

.row_management{
    background-image: url(img/Group\ 103.png);
    background-color: #3B3C36;
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    overflow: hidden;


}

#background{
    background-color: rgba(255, 255, 255, 0.103);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}


#title_management{
    font-family: var(--title);
    color: white;
    letter-spacing: 2px;
}

.card_management{
    position: relative;
    max-width: 12em;
    margin: 20px 20px;
    padding: 0;
    background-color: white;
    background-image: url(img/avatar/wave\ vector/Frame.png);
    background-repeat: no-repeat;
    background-position:bottom  ;
    background-size:auto 240%;
    box-shadow: -20px 20px 17px 10px rgba(0, 0, 0, 0.205), 10px -10px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

#name{
    font-family: var(--title);
    color: #3B3C36;
    font-size: 1.5rem;
    margin-bottom: 0;
}

#deparment{
    font-family: var(--paragarf);
    color:white;
    font-size: 1.5rem;
    font-weight: bolder;
}

#avatar_img{
    margin-left: 70px;
    width: 8em;
}

.line{
    position: relative;
    width: 100px;
    background-image: url(img/elements/Line34.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#line_management_right{
    position: relative;
    margin-top: 10em;
}

#line_management_lef{
    position: relative;
}






/*-----------------REVIEW SECTION---------*/

.card-review{
    background-color: #53917E;
    min-height: 20rem;
    -webkit-box-shadow: inset 21px 21px 47px -28px rgba(0,0,0,0.71);
    -moz-box-shadow: inset 21px 21px 47px -28px rgba(0,0,0,0.71);
    box-shadow: inset 21px 21px 47px -28px rgba(0,0,0,0.71)

}

.text-rew{
    max-width: 30rem;
}


/*-----------------PIRCE SECTION---------*/

.price_section {
    background-color: #53917E;
    box-shadow: 31px 31px 190px 0px rgba(0, 0, 0, 0.356) inset;
}

.card{
    border: none;
    padding: 50px 0;
    border-radius: 1.5625rem;
    background: #FFF;
    box-shadow: -7px 9px 17px 3px rgba(0, 0, 0, 0.25), 5px -5px 14px 0px rgba(48, 47, 47, 0.67) inset;
}


.btn{
    border-radius: 1.875rem;
    background: #E89C5C;
    border: none;
    margin: 30px 0;
    font-family: var(--paragarf);
    padding: 10px 50px;
}

.btn:hover{
    scale: 1.1;
}

.btn:active{
    animation: click 0.1s linear forwards;
}

.card-title{
    margin-bottom: 30px;
    font-family: var(--title);
    font-size: 2rem;
    color:#53917E;
}

.card-text{
    font-family: var(--paragarf);
    padding: 0 15px;
}

.card-subtitle{
    font-family: var(--title);
    font-size: 2rem;
}


/*-----------------FORM SECTION---------*/


.form-control{
    width: 30rem;
}

.form-label{
    width: 12rem;
}
#map_section{
    display: flex;
}
#google_maps{
    flex: 1;
}


/*-----------------FOOTER SECTION---------*/


#footer{
    background-color: #3B3C36;
    background-position: center;
    background-repeat: repeat;
}

.footer_list{
    list-style: none;
    padding-top: 40px;
    margin-right: 10px;
}

.footer_list li{
    margin-top: 10px;
}

#footer_line{
    margin: 50px;
    width: 2px;
    height: 200px;
    background-color:#53917E;
}

.icons_footer{
    margin: 10px;
}

#logo_footer{
    width: 12rem;
}

/*-----------------Media query------------*/
@media screen and (max-width:992px) {
    #logo { 
        width: 100px;
    }
    #about_2_box , #ceo_team_box{
        height: 50vh;
    }
    #about_2_bg , #ceo_team_bg{
        height: 50vh;
    }
}

@media screen and (max-width: 840px) {
    #row_management{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 1770px ) {
    #line_management_right , #line_management_left , .line ,#first_line_right_emp , #second_line_right_emp , #line_left_emp{
        display: none;
    }

    
}

@media  screen and (max-width : 992px ) {
    .form-label{
        width: 30rem;
    }
    
}

@media screen and (max-width : 509px) {
    .form-control{
        width: 20rem;
    }
    
    .form-label{
        width: 20rem;
    }

}

@media screen and (max-width: 1179px) {
    .line-e{
        display: none;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1770px) {
    .line-e{
        display: none;
    }
}

/*-----------------Animation------------*/


@keyframes click {
    from{
        scale: 1.1;
    }

    to{
        scale: 1 ;
    }
}


@keyframes zoom {
    from{
        scale: 1.5;
    }

    to {
       scale: 1;
    }
    
}

@keyframes poop {
    0%{
        scale: 1;
    }

    100% { 
        scale: 1.3;
    }
    
}

@keyframes slide-left {
    0%{
        left: -100%;
        opacity: 0; 
    }

    90%{
        opacity: 20%;
    }
    
    100%{
        opacity: 100%;
        left: 0;
    }
}

@keyframes slide-right {
    0%{
        right: -100%;
        opacity: 0; 
    }

    90%{
        opacity: 20%;
    }
    
    100%{
        opacity: 100%;
        right: 0;
    }
}

@keyframes slide-bottom {
    0%{
        scale: 0;
    }

    40%{
        scale: 1.2;
        background-color: #53917E;
    }

    60%{
        scale: 0.8;
        background-color: #53917E;
    }
    
    100%{
        scale: 1;
    }
}

